{% extends "2row-base.html" %} 

{% block naviIndexClass %}active{% endblock %}

{% block header %}
	<script src="/static/watchIndex.js"></script>
{% endblock %}

{% block title %}管理室主畫面{% endblock %}

{% block sideFrame %}
<div class="column ui vertical pointing menu" id="watchList">
	<h4 class="ui top attached inverted header">手錶清單</h4>
</div>
{% endblock %}

{% block mainFrame %}
<div class="ui secondary pointing menu" id="floorList">
	<!--div class="right menu">
		<a class="ui item">
			其他（？
		</a>
	</div-->
</div>
<div class="ui" id="map">
	<!--如果需要讓地圖填滿寬度，加入fluid到class中-->
	<img src="/static/maps/loading.png" class="ui centered image" id="floorMap" onload="getImageInfo();">
	<div id="map_position"></div>
</div>

{% endblock %}
