{% extends "2line-with-side.html" %} 

{% block header %}
	<script src="/static/js/index.js"></script>
{% endblock %}

{% block title %}管理室主畫面{% endblock %}

{% block sideFrame %}
<h2>手錶清單</h2>
<div class="ui vertical pointing menu" id="watchList">
</div>
{% endblock %}

{% block MainInfo %}
<!--div class="ui secondary pointing menu">
	<a class="active item">
		系統通知
	</a>
</div>

<div class="ui" id="infomations">
	<p>通知事項一</p>
	<p>通知事項二</p>
	<p>通知事項三</p>
</div-->
{% endblock %}
{% block Main %}
<div class="ui secondary pointing menu" id="floorList">
	<!--a class="active item">
		1F
	</a>
	<a class="item">
		2F
	</a>
	<a class="item">
		3F
	</a>
	<div class="right menu">
		<a class="ui item">
			其他（？
		</a>
	</div-->
</div>
<div class="ui" id="map">
	<div id="map_position">hello</div>
	<img src="/static/flats/1f.png" class="ui fluid image" id="floorMap" onload="getImageInfo()">
</div>

{% endblock %}
