#navibar , #footer {
	border-radius: 0em;
	margin: 0em;
}

#navibar {
	height: 3em;
}

#footer {
	/* position: absolute;
	top: calc( 100% - 1.6em ); */
	height: 1.6em;

}

#MainFrame {
	margin: 0em 0em 0em 0em;
	height: calc( 100% - 4.6em );
}

#MainSideBar {
	height: 100%;
}

#MainLeftInfo {
}

#MainLeftMain {
}

#watchList {
	width: 100%;
}

#mainArea {
	padding-top: 2em;
}

#infomations {
	padding: 0em 2em 0em 2em;
}

#map_position {
	position: absolute;

}
