#navibar , #footer {
	border-radius: 0em;
	margin: 0em;
}

#navibar {
	height: 3em;
}

#footer {
	/* position: absolute;
	top: calc( 100% - 1.6em ); */
	height: 1.6em;

}

#MainFrame {
	margin: 0em 0em 0em 0em;
	height: calc( 100% - 4.6em );
}

#MainSideBar {
	padding-top: 1.5em;
	height: 100%;
}

.sideMenu {
	width: 100% !important;
}

#mainArea {
	padding-top: 2em;
}

.position {
	position: absolute;
	background-color: red;
	z-index: 20;
	width: 20px;
	height: 20px;
	border-radius: 20px;
}

.newZonePos{
	width: 100% !important;
}

#newZoneBTN{
	width: 100%;
}
.zone{
	position: absolute;
}

.zoneArea{
	background-color: rgba(255,255,0,0.5);
	/*z-index: 20;*/
}

.zoneAreaText {
	background: rgba(255,255,255,0.8);
	display: table;
}

.block {
	border: 1px #000000 solid;
}

.block.road {
	background-color: rgba(255,255,0,0.5);
}

.blockAreaText {
}


/**   美化UI   **/
body {
	background-color: #e6e6e6;
}

span.AlertArea {
	font-weight: bold;
	color: red;
}

.ui.menu .ui.dropdown .menu > .item.delZone {
	font-weight: bold;
	color: red !important;
}
div.checkbox {
	margin-right: 2.5em;
}
